{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
      },
    "plugins": [
        "react"
    ],
    "rules": { }
}